<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haz Lazuardi - Confirmation Page</title>
</head>

<body>
    <h2>Please check one more time!</h2>
    Make sure there's no typo in your message "{{ message }}", {{ name }}!
    <form action="/" method="POST">
        {% csrf_token %}
        <input type="text" name="name" value="{{ name }}" required readonly>
        <input type="text" name="message" value="{{ message }}" required readonly>
        <input type="submit" value="Post it!">
    </form>
    <form action="/" method="GET">
        <input type="submit" value="Nevermind, delete it.">
    </form>

</body>

</html>