{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haz Lazuardi - Story 7</title>
</head>

<body>
    <div>
        <h2>Send a Message</h2>
        <form action="confirm/" method="POST">
            {% csrf_token %} {{ form }}
            <input type="submit" class="postit" value="Message">
        </form>
    </div>
    <div>
        <div class="add" id=".add">
            <p>Add Message +</p>
        </div>
        {% for status in queryset %}
        <div>
            <p>- {{status.name}}</p>
            <p class="title">{{status.message}}</p>
        </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/story7.js' %}"></script>

</body>

</html>