.add {
    cursor: pointer;
    align-self: flex-end;
    text-align: center;
    color: rgb(21, 32, 43);
    background-color: rgb(255, 229, 195);
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    font-size: calc(0.8vw + 10px);
    width: calc(14vw + 60px);
}